<footer id="footer">
  <i class="fab fa-twitter footer-icon"></i>
  <i class="fab fa-facebook-f footer-icon"></i>
  <i class="fab fa-instagram footer-icon"></i>
  <i class="fas fa-envelope footer-icon"></i>
  <p class="feature-content-content footer-icon">© Copyright 2021 Covid</p>

</footer>


</body>

</html>
