<%- include('partials/headernew') %>
<!-- Title -->

<div class="row">
  <!-- left part of title -->
  <div class="col-lg-6 ">
    <h1>'Cause your health is, Our Priority.</h1>
    <!-- <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a> -->
    <a class="download-button btn btn-dark btn-lg" href="/login"><i class="fas fa-sign-in-alt"></i> Login. </a>
    <a class="download-button btn btn-light btn-lg" href="/register"><i class="fas fa-user-plus"></i> Signup</a>
    <!-- email collector and opening carousel -->
  </div>
  <!-- right part of title -->
  <div class="col-lg-6 ">
    <img class="d-block w-100 opImg" src="images/mainImg.jpg" alt="First slide">
</div>


</div>
</section>

<section id="cta">
<h3 class="cta-heading">Together, we fight Covid.</h3>
<p>To use CoviAid on your phones download our apps directly from the play/app store or click on the link below</p>
<button type="button" class="download-button-cta btn btn-dark btn-lg"><i class="fab fa-apple"></i> Download</button>
<button type="button" class="download-button-cta btn btn-outline-light btn-lg"><i class="fab fa-google-play"></i> Download</button>

</section>
<%- include('partials/footernew') %>
